{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Profile data</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.file) }}

        <button type="submit" class="btn">Upload</button>
    {{ form_end(form) }}
{% endblock %}
