{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Profile data</h1>

    {{ form_errors(form) }}

    {{ form_start(form, {'method': 'PUT'}) }}
        {{ form_row(form.email, { 'value': app.user.email }) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Update</button>
    {{ form_end(form) }}
{% endblock %}
